<html>
<head>
  <title>My.LaSalle University Portal | Landing</title>
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon"></link>
  <link href="style.css" rel="stylesheet" type="text/css"></link>
  <script src="responsivebar.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <script>
  $(document).ready(function(){
    var d = new Date();
    var n = d.getHours();
    if (n >= 18 || n < 6)
    // If time is after 7PM or before 6AM, apply night theme to ‘body’
    document.body.className = "night";
    else
    // Else use ‘day’ theme
    document.body.className = "day";
  });
  </script>
</head>

<body>
  <div class="container">
    <div class = "header" id ="header">
      <header>
        <h2><img src = "mydlsu.png" alt = "Logo"></h2>
      </header>
    </div>
    <div class="navigationMenu" id="navigationMenu">
      <a href="https://my.dlsu.edu.ph">HOME</a>
      <div class="about">
        <button class="aboutbtn">ABOUT
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="about-content">
          <a href="#">About My.Lasalle</a>
          <a href="#">Features</a>
          <a href="#">FAQ</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Email Disclaimer</a>
        </div>
      </div>

      <div class="enrollment">
        <button class="enrollmentbtn">ENROLLMENT
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="enrollment-content">

          <div class="status">
            <button class="statusbtn">STATUS
              <i class="fa fa-caret-down"></i>
            </button>

            <div class="status-content">
              <a href="#">View Clearance</a>
              <a href="#">View Curriculum Audit</a>
              <a href="#">View Final Exam &amp; Grade Consultation Schedule</a>
              <a href="#">View Grades</a>
              <a href="#">View Assessment</a>
            </div>
          </div>

          <a href="#">Print E.A.F.</a>
          <a href="#">Calculate Tuition and Fees</a>
          <a href="#">View Visa Status (For IS)</a>
          <a href="#">Apply to Major Program</a>
          <a href="#">Reserve Adjustment Pass</a>
        </div>
      </div>

      <div class="student-services">
        <button class="student-servicesbtn">STUDENT SERVICES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="student-services-content">
          <a href="#">Change Password</a>
          <a href="http://enroll.dlsu.edu.ph/dlsu/manage_email">Manage Email</a>
          <a href="#">Review Student Data</a>
          <a href="#">View Parent's Access</a>

          <div class="leap">
            <button class="leapbtn">LEAP
              <i class="fa fa-caret-down"></i>
            </button>
            <div class = "leap-content">
              <a href="#">Register LEAP</a>
            </div>
          </div>

          <div class="green-purse">
            <button class="green-pursebtn">GREEN PURSE
              <i class="fa fa-caret-down"></i>
            </button>
            <div class = "green-purse-content">
              <a href="#">Change PIN</a>
              <a href="#">Inquire Balance</a>
              <a href="#">View Statement</a>
            </div>
          </div>

          <a href="#">Subscribe to Green &amp; White</a>
          <a href="#">Set PHEx Appointment</a>
        </div>
      </div>

      <div class="extra">
        <button class="extrabtn">EXTRA
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="extra-content">

          <div class="external-services">
            <button class="external-servicesbtn">EXTERNAL SERVICES
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="external-services-content">

              <div class="google">
                <button class="googlebtn">GOOGLE
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="google-content">
                  <a href="http://mail.dlsu.edu.ph/">Google Mail</a>
                  <a href="http://cal.dlsu.edu.ph/">Google Calendar</a>
                  <a href="http://docs.dlsu.edu.ph/">Google Docs</a>
                  <a href="http://sites.dlsu.edu.ph/">Google Sites</a>
                </div>
              </div>
              <a href="http://portal.office.com/">Microsoft Office 365</a>
            </div>
          </div>

          <a href="#">Cast SC Plebiscite Vote</a>
          <a href="#">Evaluate Administrator/ASF/APSP/CAP</a>
          <a href="#">Evaluate Faculty</a>
          <a href="#">Nominate Outstanding Professor</a>
          <a href="#">Register in Event</a>
          <a href="#">Request for Documents</a>
          <a href="#">Reserve Tickets</a>
          <a href="#">Self-report for Faculty Members</a>
          <a href="#">Pahiram Libro: Reserve Book</a>
        </div>
      </div>
      <a href="#">LOG OUT</a>
      <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="responsiveIcon()">&#9776;</a>

    </div>

    <div class = "content">
      <article>
        <p>Welcome (name here)!</p>
        <p>Today is (date here)</p>
        <p>De La Salle Time is (time)</p>
        <p>Your email address is (email)</p>
      </article>

      <article>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse imperdiet purus ultrices risus consectetur venenatis vitae eget diam. Donec eu sodales nisl. Donec pulvinar consequat luctus. Aenean metus tellus, lacinia in nisl ut, dictum efficitur nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris condimentum scelerisque est, a blandit turpis consectetur eu. Vestibulum sed libero et risus tempus vulputate et vitae ipsum. Ut posuere, lectus vitae viverra elementum, odio metus lacinia risus, a dignissim sem augue a nibh. Etiam et dapibus tellus, vitae aliquet nulla. Praesent mattis ipsum metus, efficitur convallis turpis finibus et. Quisque efficitur, quam id tincidunt pellentesque, lorem tellus auctor neque, non maximus metus massa in quam. Pellentesque varius convallis interdum. Aliquam nisl ipsum, consectetur et tincidunt sit amet, porttitor eget libero. Etiam convallis massa ligula, nec semper tellus tincidunt sed.

        Curabitur erat metus, feugiat varius elementum eu, hendrerit ut mauris. Curabitur vitae vehicula tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse molestie justo porta, finibus neque et, mattis sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a elit et erat semper tincidunt. Aliquam elementum sagittis eros, et placerat neque molestie aliquet. Vivamus finibus sem fermentum, laoreet dolor ac, luctus lorem. Vivamus facilisis nunc eget nisl sodales, a imperdiet lectus eleifend. Sed interdum libero ut ante blandit, nec pretium elit rhoncus. Praesent nisl felis, tristique vel neque eu, consequat facilisis dui. Ut tincidunt elementum ligula, vel viverra mauris suscipit sit amet.

        Cras a ex quis nulla sodales aliquet. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis eleifend turpis sit amet varius. Praesent quis justo vel velit facilisis porttitor. Aliquam malesuada odio eget sodales auctor. Mauris ultrices tempor elementum. Nullam sed ultrices lectus, vel sodales magna. Proin volutpat ligula est, ut eleifend lectus tristique at. Vivamus velit urna, vulputate ut mollis nec, porta a leo. Donec non mauris in erat tincidunt malesuada. Morbi placerat lacinia iaculis. Phasellus ut venenatis metus. Maecenas posuere dui sit amet purus luctus, a mollis augue consequat. Etiam eget lectus in justo eleifend sodales. Duis interdum ullamcorper nisl quis placerat. Duis vitae est at diam vulputate dignissim.

        Quisque lorem eros, maximus quis commodo sed, facilisis vitae arcu. In hac habitasse platea dictumst. Vestibulum imperdiet erat vel placerat commodo. Nam malesuada ante magna, sit amet luctus nibh consectetur vitae. In commodo, risus ac rutrum malesuada, justo urna posuere lectus, in bibendum lectus ex eget turpis. Nunc non risus mi. Pellentesque imperdiet quis libero a eleifend. Fusce eleifend non ex sit amet vulputate. Cras ullamcorper eu nisl non pharetra. Vivamus ut mauris quis lectus cursus auctor. In egestas augue at eleifend congue. Morbi est ante, pharetra quis mauris vel, pharetra gravida risus.

        Duis gravida, leo ut commodo luctus, massa nibh pharetra risus, sed posuere massa arcu vel ante. Suspendisse rutrum tincidunt auctor. Vestibulum gravida augue non metus sodales tempor. Suspendisse vitae interdum felis, id ultrices magna. Mauris ac enim mauris. Duis ultricies orci sit amet leo convallis imperdiet. In hac habitasse platea dictumst. Ut efficitur arcu massa, a lobortis felis bibendum vitae. Vestibulum dapibus lacus sed lacinia condimentum.

        Morbi a felis a massa consequat feugiat. Aliquam sed urna ac ligula sollicitudin commodo non ut nibh. Donec lacus sapien, ornare vel dolor eu, tempor tincidunt quam. Vivamus iaculis a augue id faucibus. Curabitur enim diam, ultrices sed commodo ut, porttitor eget metus. Proin vel turpis odio. Curabitur cursus egestas ligula, vel iaculis orci vehicula scelerisque. Fusce aliquet, lacus nec tristique pellentesque, ipsum dolor consequat erat, id mollis lacus odio in massa. Nunc id porttitor libero. Ut ultrices metus et hendrerit dignissim. Praesent hendrerit orci quis justo porttitor tempus. Donec eget mattis urna.

        Nam commodo, mi nec sodales hendrerit, odio quam commodo ligula, nec iaculis leo nunc non nulla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam mattis massa tincidunt, elementum justo malesuada, ullamcorper diam. Aliquam eu accumsan mauris. Nunc eget diam at elit ullamcorper porttitor nec et tortor. Fusce ac erat eget erat auctor ultricies quis ultrices velit. Quisque vel rhoncus enim, ac facilisis quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer euismod sagittis dui, vitae dapibus felis semper a.

        Maecenas faucibus nec metus mollis semper. Morbi sed purus justo. Sed suscipit lectus quis dolor faucibus pellentesque. Mauris consequat tincidunt maximus. Cras hendrerit enim massa, quis venenatis ex porta ut. Donec tincidunt sollicitudin venenatis. Aenean tempor dolor ac tellus finibus, vel feugiat urna semper. Mauris ullamcorper tempor sem, a tincidunt lectus ultricies vel. Vestibulum turpis turpis, tempus eu mauris interdum, mattis fermentum massa. Duis malesuada, est posuere euismod finibus, felis lectus sagittis tortor, rhoncus bibendum dolor metus id odio. Ut luctus metus nulla, a ultricies massa convallis ut.

        Pellentesque ornare odio vitae luctus imperdiet. Praesent posuere turpis at lorem auctor venenatis. Curabitur ac pretium dolor. Nullam ultricies convallis arcu, eu eleifend felis elementum quis. Nunc eleifend mollis efficitur. Curabitur nec sem faucibus, sagittis lacus vitae, finibus ante. Vivamus hendrerit massa diam, ac bibendum ex vehicula non. Ut efficitur risus sit amet odio sagittis ultricies. Pellentesque et augue nec justo efficitur rutrum. Cras lectus lorem, lobortis in tempor quis, blandit in sem. Phasellus quis accumsan orci, eget ultricies arcu. Donec turpis risus, gravida varius diam sed, pharetra efficitur eros. Donec molestie eget nibh a consequat. In hendrerit erat sed condimentum suscipit. Vivamus imperdiet tellus eget mattis molestie.

        Fusce dolor dolor, mollis eget maximus non, blandit tempor lacus. Vivamus tincidunt, nulla sed sagittis dapibus, erat velit accumsan nibh, malesuada interdum sem ligula nec elit. Sed vestibulum risus ut augue maximus feugiat. Vestibulum condimentum efficitur scelerisque. Integer ac lacus a justo tincidunt interdum sed eget ante. Nulla cursus est convallis pulvinar faucibus. Aenean blandit risus id nulla aliquet, ut sollicitudin odio pellentesque.

        Suspendisse potenti. Cras sit amet pretium mi, ac semper est. In hac habitasse platea dictumst. Etiam consequat erat quis mi hendrerit, eget facilisis magna maximus. Aenean nec diam est. Vestibulum ut felis neque. Etiam tortor mi, faucibus non finibus a, ornare non sapien. In hac habitasse platea dictumst. Pellentesque quis auctor est. Sed aliquam ullamcorper nisl in venenatis. Sed augue ligula, fermentum ut feugiat laoreet, vehicula vel justo. Vivamus tincidunt arcu ac nisl scelerisque tempor vitae sit amet nulla. Quisque aliquam massa ut nibh hendrerit, ut consequat quam euismod. Donec malesuada interdum purus quis bibendum. Vivamus odio massa, tincidunt sit amet elit at, euismod aliquet nunc. Phasellus et ex tincidunt, posuere justo a, ultricies tellus.

        Mauris vitae magna et dui aliquam pulvinar vitae eget arcu. Nulla hendrerit, ante et feugiat lacinia, massa libero laoreet risus, a condimentum sapien purus sed purus. Nullam sed metus tellus. Etiam sed pulvinar velit, ut dictum elit. Donec tempus rutrum volutpat. Etiam mattis, ante eu tincidunt varius, ipsum felis suscipit nisi, nec tincidunt est ante vitae mi. Vestibulum laoreet sapien eu turpis rhoncus, quis accumsan neque posuere. Nulla euismod turpis mauris, id blandit urna congue facilisis. Cras iaculis justo quis porta luctus. Pellentesque quis tempus quam. Donec massa ipsum, maximus in posuere in, scelerisque eget neque. Sed at tortor ut elit lacinia auctor non quis mauris. Vestibulum a nisl et sapien blandit dictum nec vitae risus. Sed placerat in odio aliquet vestibulum. Interdum et malesuada fames ac ante ipsum primis in faucibus.

        Vivamus pellentesque ornare suscipit. Proin augue felis, vestibulum sed urna sed, semper faucibus ex. Aenean quis felis metus. Aliquam porta neque in neque ultricies consequat. Suspendisse nec purus leo. Sed quam urna, hendrerit eget nunc vel, auctor molestie quam. Quisque semper lobortis diam sed faucibus. Fusce quis enim in risus ultrices facilisis. Aliquam pharetra ante at justo lacinia aliquam. Nullam dignissim dignissim mauris in vulputate.

        Quisque eu pulvinar neque. Suspendisse tincidunt, turpis nec suscipit aliquam, erat eros aliquet risus, sed suscipit massa diam sed enim. Duis est ex, finibus sed lectus et, sollicitudin iaculis nisl. Proin vulputate erat sem. Morbi ullamcorper, nisl tristique tempus consequat, leo ligula dapibus nisi, quis condimentum ex risus et augue. Praesent blandit ante eu libero scelerisque interdum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas lobortis placerat consectetur. Aliquam erat volutpat. Etiam luctus, purus et luctus blandit, eros leo dictum tellus, eu malesuada nulla tellus id urna. Nam velit risus, ultrices vitae dictum eget, tristique consectetur neque. Aenean placerat, tellus accumsan accumsan tristique, sem odio iaculis velit, et sagittis magna tortor non felis. Pellentesque id mollis tortor. Phasellus lacus est, porttitor at quam non, lacinia efficitur felis.

        Nulla nec elementum risus, vel rhoncus ante. Morbi ultricies erat mauris, a dapibus magna hendrerit ac. Nulla sed elit rutrum, condimentum mi in, sollicitudin nulla. Quisque consectetur metus in purus euismod, in sodales risus accumsan. Proin metus ex, congue id dapibus sit amet, tristique nec tellus. Vivamus fringilla viverra turpis et tristique. Fusce ut ante vel urna accumsan ultricies. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis enim, pellentesque sit amet orci a, cursus suscipit nisl. Mauris vulputate ac magna eu venenatis.

        Donec ornare dapibus nulla. Quisque consectetur sagittis sagittis. Quisque vel sagittis enim. Vivamus fermentum elit eget hendrerit facilisis. Sed enim tortor, ultrices ac scelerisque faucibus, sollicitudin at lacus. Donec in est felis. Nunc dignissim sagittis vestibulum. Aenean semper felis dictum libero iaculis, at pretium massa tristique. Quisque a feugiat est. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut congue euismod volutpat.

        Nam pretium in urna at bibendum. Nulla hendrerit, nunc sed posuere porttitor, libero elit sagittis diam, sit amet placerat tellus lorem sed lectus. Suspendisse eu vestibulum massa. Sed at dolor eros. Nullam tincidunt ut nibh eu volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vel est convallis, malesuada velit elementum, placerat quam. Integer imperdiet justo non enim rhoncus, at viverra justo hendrerit. Sed tempor ipsum sit amet libero fermentum venenatis. Pellentesque pulvinar metus quis risus ornare, eu blandit dui aliquet. Maecenas rhoncus odio mi, ac feugiat nisl ornare blandit. Fusce malesuada in enim eget vestibulum. Praesent viverra purus ipsum, ac tempor nibh blandit sit amet. In eget nunc eu sapien mattis fermentum. Curabitur dictum metus leo, vel fermentum felis lacinia ac.

        Sed ac condimentum erat. Nulla maximus sapien id ex tempor, sed egestas lorem feugiat. Duis eu arcu et diam vehicula imperdiet sit amet et lorem. Pellentesque elementum a dui et blandit. Sed dictum nisl sapien, vitae laoreet ipsum venenatis id. Donec ac euismod dui. Etiam pulvinar nisi facilisis euismod blandit. Suspendisse vitae nunc ornare, tincidunt enim in, suscipit quam. Donec ornare, sapien at molestie mollis, nisi urna dignissim neque, eu scelerisque purus felis quis ante.

        Fusce vel ex eu diam faucibus egestas. Vestibulum ultricies, elit finibus varius rutrum, neque ante iaculis nunc, nec eleifend arcu elit sed elit. Integer suscipit ullamcorper sagittis. Maecenas vel leo consequat, feugiat lacus eget, interdum nulla. Donec a lectus a eros euismod auctor. Duis vel ex ut magna egestas vulputate ac sit amet dui. Cras bibendum est non fringilla imperdiet. Quisque viverra elementum sem, eget congue neque eleifend eu. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam justo elit, maximus sit amet aliquam sed, condimentum quis turpis. Ut pharetra congue augue, vitae efficitur neque iaculis et. Sed eget erat ut lectus auctor semper id sit amet ligula. Pellentesque tempus mi eget turpis sollicitudin finibus. Cras pellentesque sit amet velit id luctus. Morbi et gravida magna. Ut et orci aliquam, vehicula dui vel, commodo neque.

        Aenean et dui at nibh fringilla interdum nec sit amet libero. Cras quis tincidunt augue, sit amet sagittis nulla. Sed elementum ultricies tortor at volutpat. Mauris scelerisque mi id sem euismod egestas. Mauris gravida facilisis purus malesuada placerat. Curabitur eu nibh tellus. Nulla nec libero et libero tincidunt porta. Mauris sodales porttitor magna. Sed magna tortor, ultricies at auctor ut, venenatis quis nulla. Sed rhoncus lectus quis urna scelerisque tempor. Sed ultricies nunc tellus, lacinia mattis sem faucibus et. Aenean ac lectus sit amet nulla auctor congue. Cras non volutpat sapien, eget convallis turpis. Donec purus mi, dapibus ac auctor in, accumsan a lectus.

        Sed facilisis maximus tortor, varius venenatis diam. Praesent sed orci elit. Nullam lobortis diam sapien, eget sollicitudin nisi tincidunt ac. Nunc nisl turpis, fermentum ac diam nec, gravida euismod nibh. Vivamus ultrices nisl non massa varius rhoncus. Vivamus at varius enim, feugiat egestas risus. Praesent viverra id velit in sagittis. Proin eget purus ligula. Praesent ullamcorper, leo sit amet ultrices rhoncus, ante augue tempor risus, at molestie lorem velit a urna. Suspendisse ut nulla dolor. Morbi tincidunt vel elit in rutrum. Proin justo mi, semper sit amet cursus ut, consectetur et orci.

        Donec venenatis turpis at augue ornare, vitae condimentum urna porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et nisl arcu. Fusce sagittis elit vel tellus malesuada hendrerit. Etiam suscipit velit eu eleifend blandit. Pellentesque interdum nibh et velit pharetra tristique. Curabitur accumsan dictum faucibus. Aliquam consectetur pharetra pellentesque. Sed id lacus nulla. Ut id ornare augue. Proin fermentum augue vel magna eleifend pretium ut in nibh. Quisque egestas nunc ut ipsum suscipit, a imperdiet magna fermentum. Vestibulum luctus velit sed lacinia auctor. Fusce iaculis aliquet augue eu tincidunt.

        Sed fringilla varius tortor eget ornare. Nam sollicitudin tincidunt venenatis. Etiam ligula elit, pellentesque id diam sed, fermentum efficitur justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ipsum purus, semper eu scelerisque in, commodo accumsan nulla. Integer consectetur pulvinar ullamcorper. Maecenas id risus ut purus aliquet pulvinar eget nec eros. Nulla sodales sollicitudin turpis, vitae varius urna blandit non. Pellentesque nibh arcu, porta eget lacinia eu, fermentum id nulla. Nam sodales risus mauris, vitae tincidunt neque vulputate ut. Proin consequat euismod metus in vulputate. Donec feugiat rutrum lectus non euismod.

        Aenean vel mi nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet felis eu enim facilisis, et rhoncus nulla luctus. Ut bibendum consectetur dui ac placerat. Vivamus eu nisl libero. In laoreet metus eget laoreet vulputate. Duis sed sagittis tortor. Phasellus rhoncus eros ligula, ac dictum odio tincidunt eu. Mauris a ligula quis turpis porttitor vulputate et vitae nisl. Duis sed eros vel augue molestie ornare congue vel sem. Nullam ut dignissim nisl.

        Nunc sit amet condimentum neque. Suspendisse convallis sem nec ligula tincidunt rutrum. Mauris nec convallis nunc. Etiam eget justo a est placerat rhoncus nec eu dui. Nunc dictum tortor eu tempus semper. Integer orci arcu, tempor quis euismod sed, iaculis ac sem. Maecenas ullamcorper urna ac massa congue pellentesque. Maecenas consequat dolor id nisi aliquet, et faucibus nunc semper.

        Etiam rutrum, justo eu tempus volutpat, felis ante egestas ex, fermentum ornare nulla turpis vitae libero. Nam interdum tempus dui. Maecenas et vulputate est. Sed vel massa elementum ante vestibulum volutpat a eget ligula. Nulla congue mollis tellus, at posuere sem. Pellentesque sed orci mi. Nunc ullamcorper, urna ut accumsan viverra, ligula ante pulvinar sem, in ultricies risus justo et quam.
      </article>

      <footer>
        <a href="http://www.dlsu.edu.ph/legalities/copyright.asp">Copyright &copy 2018. All Rights Reserved. De La Salle University - Manila</a>
      </footer>
    </div>
  </div>
</body>
</html>
